@{
    ViewBag.Title = "Home Page";
}

<section id="search_container">
    <div id="search">
        <ul class="nav nav-tabs">
            <li>
                <a href="#hotels" class="active show" data-toggle="tab">Otel Ara</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- End rab -->
            <form action="/Home/Index" method="post">
                <div class="tab-pane active show" id="hotels">
                    <h3>Otel Ara</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><i class="icon-calendar-7"></i> Giriş Tarihi</label>
                                <input name="Name" class="date-pick form-control" data-date-format="M d, D" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><i class="icon-calendar-7"></i> Çıkış Tarihi</label>
                                <input class="date-pick form-control" data-date-format="M d, D" type="text">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-6">
                            <div class="form-group">
                                <label>Yetişkin</label>
                                <div class="numbers-row">
                                    <input type="text" value="1" id="adults" class="qty2 form-control" name="adults_2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-6">
                            <div class="form-group">
                                <label>Çocuk</label>
                                <div class="numbers-row">
                                    <input type="text" value="0" id="children" class="qty2 form-control" name="children_2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-12">
                            <div class="form-group">
                                <label>Oda</label>
                                <div class="numbers-row">
                                    <input type="text" value="1" id="children" class="qty2 form-control" name="rooms">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Otel Adı</label>
                                <input type="text" class="form-control" id="hotel_name" name="hotel_name" placeholder="Optionally type hotel name">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <hr>
                    <button class="btn_1 green"><i class="icon-search"></i>Ara</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End hero -->
<main>
    <div class="container margin_60">

        <div class="main_title">
            <h2>Beğenebileceğiniz <span>Oteller</span></h2>
            <p>Sizleri analiz edip sevebileceğiniz otelleri sizlere sunuyoruz.</p>
        </div>

        <div class="row">

            
            @{
                Html.RenderAction("_PartialViewAnasafaRandom");
            }

        </div><!-- End row -->
    </div><!-- End container -->


    <section class="promo_full" style="background-image: url(https://hotelperrakis.com/wp-content/uploads/slider-back-hotel.jpg) !important">
        <div class="promo_full_wp magnific">
            <div>
                <h3>Hayalinizdeki Hizmet</h3>
                <p>
                    Memnuniyetiniz için elimizden gelenin fazlasını yapıyoruz.
                </p>
                <a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="icon-play-circled2-1"></i></a>
            </div>
        </div>
    </section>
    <!-- End section -->

    <div class="container margin_60">

        <div class="main_title">
            <h2>Size <span>Özel</span> Hizmetlerimiz</h2>
            <p>
                Hizmetlerimizden tamamamen memnun kalmanız için elimizden gelenden fazlasını yapmak için buradayız.
            </p>
        </div>

        <div class="row">

            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.2s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-41"></i>
                    <h3><span>+120</span> Özel Tur</h3>
                    <p>
                        Keşif için hazır mısınız?
                    </p>
                </div>
            </div>

            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.4s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-30"></i>
                    <h3><span>+1000</span> Ziyaretçi</h3>
                    <p>
                        En çok tercih edilen sistemi şu an kullanıyorsunuz.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="feature_home">
                    <i class="icon_set_1_icon-57"></i>
                    <h3><span>24 Saat </span> Destek</h3>
                    <p>
                        Bir sorununuz mu var? Hemen ilgilenelim.
                    </p>
                </div>
            </div>

        </div>
        <!--End row -->

        <hr>

        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/img/laptop.png" alt="Laptop" class="img-fluid laptop">
            </div>
            <div class="col-md-6">
                <h3><span>Hadi</span> seçelim</h3>
                <p>
                    Tek yapmanız gereken size uygun oteli bulup rezerve etmek.
                </p>
                <ul class="list_order">
                    <li><span>1</span>Otel bulun</li>
                    <li><span>2</span>Rezerve edin</li>
                    <li><span>3</span>Onaylanmasını bekleyin</li>
                    <li><span>4</span>Bu kadar.</li>
                </ul>
            </div>
        </div>
        <!-- End row -->

    </div>
    <!-- End container -->
</main>
<!-- End main -->