@model Tatilcim.Admin.Models.ViewVeriModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header bg-green">
            <h2>
                Yeni Üye Kaydet <small>Yeni Üyeleri buradan ekleyebiirsiniz.</small>
            </h2>
        </div>
        <div class="body">
            <form action="/Uye/Add" method="post">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" name="Name" placeholder="Ad ve Soyad"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" name="DisplayName" placeholder="Nick"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" name="Email" placeholder="Email"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" name="Password" placeholder="Şifre"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <label>Yetki</label>
                        <select name="AuthorityId" class="form-control show-tick">
                            @foreach (var veri in Model.Authorities)
                            {
                                <option value="@veri.Id">@veri.Command</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" name="Description" placeholder="Açıklama"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="">
                                <label>Kapak Resmi</label>
                                <input type="file" class="form-control" name="Cover" placeholder="Kapak Resmi" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Oteller</label>
                        <select name="OtelId" class="form-control show-tick">
                            <option selected value="0">Otel Seçiniz.</option>
                            @foreach (var veri in Model.Otel)
                            {
                                <option value="@veri.Id">@veri.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" name="Kaydet" class="btn btn-outline-success" value="Kaydet"/>
                </div>
            </form>
        </div>
    </div>
</div>