<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
            <a href="/">
                <i class="material-icons">home</i>
                <span>Anasayfa</span>
            </a>
        </li>
        <li>
            <a href="/Otel">
                <i class="material-icons">account_balance</i>
                <span>Oteller</span>
            </a>
        </li>
        <li>
            <a href="/Basvuru">
                <i class="material-icons">assignment_returned</i>
                <span>Başvurular</span>
            </a>
        </li>
        <li>
            <a href="/Uye">
                <i class="material-icons">account_circle</i>
                <span>Üyeler</span>
            </a>
        </li>
        <li class="header">SİSTEM</li>
        <li>
            <a href="/Ayar">
                <i class="material-icons">settings</i>
                <span>Ayarlar</span>
            </a>
        </li>
        <li>
            <a href="/Dosya">
                <i class="material-icons">tab</i>
                <span>Dosya Yöneticisi</span>
            </a>
        </li>
    </ul>
</div>
<!-- #Menu -->