<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <i class="icon-phone"></i><strong>0045 043204434</strong>
                </div>
                <div class="col-6">
                    <ul id="top_links">

                        @if (Session["Id"] == null)
                        {
                            <li>
                                <a href="#sign-in-dialog" id="access_link">Giriş Yap</a>
                            </li>
                        }
                        else
                        {
                            if (Convert.ToInt32(Session["Authority"]) == 2)
                            {
                                <li>
                                    <a href="/Otel" >Otel Yetkilisi, @Session["Name"]</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/User" >Hoşgeldin, @Session["Name"]</a>
                                </li>
                            }

                            
                        }
                        <li>
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter" id="wishlist_link">Otel Başvurusu Yap</a>
                        </li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div id="logo_home">
                    <h1>
                        <a href="index.html" title="City tours travel template">City Tours travel template</a>
                    </h1>
                </div>
            </div>
            <nav class="col-9">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);">
                    <span>Menu mobile</span>
                </a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="~/Content/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in">
                        <i class="icon_set_1_icon-77"></i>
                    </a>
                    <ul>
                        <li class="submenu">
                            <a href="" class="show-submenu">Anasayfa</a>
                        </li>
                        <li class="submenu">
                            <a href="" class="show-submenu">Oteller</a>
                        </li>
                        <li class="submenu">
                            <a href="" class="show-submenu">Hakkında</a>
                        </li>
                        <li class="submenu">
                            <a href="" class="show-submenu">Avantajlar</a>
                        </li>
                        <li class="submenu">
                            <a href="" class="show-submenu">Kullanıcı Memnuniyeti</a>
                        </li>
                        <li class="submenu">
                            <a href="" class="show-submenu">İleitişim</a>
                        </li>

                    </ul>
                </div><!-- End main-menu -->
                <ul id="top_tools">
                    <li>
                        <a title="Ara" href="javascript:void(0);" class="search-overlay-menu-btn">
                            <i class="icon_search"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- container -->
</header><!-- End Header -->